.wrap {
    display: flex;
    justify-content: center;
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-family: 'Raleway';
    font-size: 7vh;
}

.err {
    font-family: 'Roboto Mono';
    color: red;
    text-align: center;
}